

/* Сетка карточек фильмов */
.movie-grid {
  display: grid;                              /* Используем CSS Grid */
  grid-template-columns: repeat(2, 1fr);      /* Две колонки одинаковой ширины */
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;                                  /* Расстояние между карточками */
}

/* Карточка фильма */
.movie-card {
    display: flex;                              /* Горизонтальное расположение постера и контента */
    background: #fff;                           /* Белый фон карточки */
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);      /* Лёгкая тень */
    overflow: hidden;  
    width: 451px;
    height: 279px;
    opacity: 1;
    top: 21px;
    left: 247px;
    

}

/* Постер фильма */
.movie-poster {
     width: 183px; /* Фиксированная ширина постера */
    height: 281px;
    opacity: 1;
    top: -2px;
    object-fit: cover;          /* Сохраняем пропорции и обрезаем изображение */
}

/* Контентная часть карточки */
.movie-content {
  padding: 16px;              /* Внутренние отступы */
  display: flex;              /* Flex для вертикального выравнивания элементов */
  flex-direction: column;     /* Элементы располагаются в колонку */
  gap: 8px;                   /* Расстояние между элементами */
}

/* Название фильма */
.movie-content h3 {         
  font-family: Inter;
font-weight: 400;
font-size: 20px;/* Размер шрифта заголовка */
line-height: 28px;
letter-spacing: 0%;
vertical-align: middle;

}

/* Дата выхода фильма */
.date {
font-family: Inter;
font-weight: 400;
font-size: 12px;/* Мелкий шрифт */
line-height: 22px;
letter-spacing: 0px;
vertical-align: middle;      
color: rgba(130, 126, 126, 1); /* Серый цвет */
             
}

/* Список жанров */
.genres span {
  font-family: Inter;
  font-size: 11px;            /* Маленький размер текста */
  border: 1px solid #ddd;     /* Рамка вокруг жанра */
  padding: 2px 6px;           /* Внутренние отступы */
  margin-right: 6px;          /* Отступ между жанрами */
  border-radius: 4px;         /* Скругление */
}

/* Описание фильма */
.movie-content p {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;  /* Размер текста описания */
    line-height: 22px;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 1);/*  цвет текста */
              
}




.reset {
   padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}