@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

 @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter;
}

/*Loader*/
/* Размер самого блока со спиннером */
.loader .ant-spin-dot {
    width: 40px !important;
    height: 40px !important;
    font-size: 40px !important;
}

.loader .ant-spin-dot-item {
    background-color: rgb(190, 4, 4) !important; /* Ваш красный цвет */
    width: 12px !important;  /* Принудительная ширина точки */
    height: 12px !important; /* Принудительная высота точки */
    opacity: 1 !important;
    visibility: visible !important;
}
/* Стиль для текста "Loading..." */
.loader .ant-spin-text {
    color: rgb(190, 4, 4) !important;
    margin-top: 15px !important;
    font-size: 20px; /*  для текста под спиннером */
    font-weight: bold;
    display: block !important;
}