
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";


:root {
  --font-inter: "Inter", sans-serif;
  --background: #ffffff;
  --foreground: #171717;

  --btn-font: var(--font-inter);
  --input-font: var(--font-inter);
  --card-font: var(--font-inter);
  --dropdown-font: var(--font-inter)
  }

 @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.ant-layout {
  background-color: #fff !important;
}
body {
  background: white !important;
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif !important;
  margin-bottom: 20px;
}

* {
  font-family: var(--font-inter) !important;
}

/*Loader*/
.loader {
  display: flex;
  justify-content: center;
  margin-top: 40;
}
/* Размер самого блока со спиннером */
.loader .ant-spin-dot {
    width: 40px !important;
    height: 40px !important;
    font-size: 40px !important;
}

.loader .ant-spin-dot-item {
    background-color: rgb(190, 4, 4) !important; /* Ваш красный цвет */
    width: 12px !important;  /* Принудительная ширина точки */
    height: 12px !important; /* Принудительная высота точки */
    opacity: 1 !important;
    visibility: visible !important;
}
/* Стиль для текста "Loading..." */
.loader .ant-spin-text {
    color: rgb(190, 4, 4) !important;
    margin-top: 15px !important;
    font-size: 20px; /*  для текста под спиннером */
    font-weight: bold;
    display: block !important;
}

